fastapi~=0.70.0
uvicorn
loguru~=0.5.3
fire~=0.4.0
lightautoml~=0.3.2
dvc[s3]
--find-links https://download.pytorch.org/whl/torch_stable.html
https://download.pytorch.org/whl/lts/1.8/cpu/torch-1.8.2%2Bcpu-cp39-cp39-linux_x86_64.whl
https://download.pytorch.org/whl/lts/1.8/cpu/torchvision-0.9.2%2Bcpu-cp39-cp39-linux_x86_64.whl